<div class="p-3 mb-2 bg-success text-white text-center">

  <h1>Félicitation Moussaillon</h1>

  <img src="https://medias.spotern.com/spots/w640/50246-1532336916.jpg" class="img-fluid" alt="Responsive image">

</div>